@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}
iframe{ border: none; max-width: 100%; }